.header {
  padding: 28px 0;
  position: fixed;
  z-index: 5;
  background-color: $body-color;
  width: 100%;
  & .container {
    display: flex;
    gap: 76px;
    align-items: center;
  }
  &__hamburger {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    gap: 20px;
  }
  &__nav {
    display: flex;
    align-items: center;
    &-list {
      display: flex;
      list-style-type: none;
      gap: 42px;
    }
    &-link {
      color: $white-color;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 21px;
      text-decoration: none;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    gap: 30px;
    &-tel {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skew(-17deg);
      border: solid 1px #fff;
      -webkit-transform: skew(-17deg);
      -moz-transform: skew(-17deg);
      -ms-transform: skew(-17deg);
      -o-transform: skew(-17deg);
      padding: 13px 20px;
      &__img {
        width: 32px;
        height: 32px;
      }
    }
    &-call {
      width: 265px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .header {
    & .container {
      gap: 30px;
    }
    &__nav {
      &-list {
        gap: 20px;
      }
    }
    &__contacts {
      gap: 10px;
      &-call {
        width: 201px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .header {
    &__container {
      position: relative;
    }
    & .container {
      justify-content: space-between;
    }
    &__hamburger {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 37px;
      cursor: pointer;
      &-item {
        height: 3px;
        background-color: $white-color;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 100%;
        }
        &:nth-child(3) {
          width: 67%;
        }
      }
    }
    &__nav {
      position: absolute;
      top: 120px;
      left: -200%;
      width: 100vw;
      height: 100vh;
      background-color: $body-color;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      padding: 50px;
      align-items: flex-start;
      &.active {
        left: 0;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      &-link {
        color: $body-color;
        -webkit-text-stroke: 1px #808080;
        font-size: 36px;
        line-height: 54px;
        font-weight: 700;
      }
    }
    &__wrapper {
      width: fit-content;
    }
    &__contacts {
      gap: 8px;
      &-call {
        width: 184px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 13px 0;
    
    &__logo {
      &-img {
        max-width: 115px;
      }
    }
    &__wrapper {
      position: absolute;
      top: 70px;
      left: -200%;
      width: 100vw;
      height: 100vh;
      background-color: $body-color;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      padding: 0 20px;
      display: block;
      &.active{
        left: 0;
      }
    }
    &__nav{
      position: static;
      padding: 0;
      width: initial;
      height: initial;
      &-link{
        font-size: 20px;
        line-height: 30px;
      }
    }
    &__contacts{
      flex-direction: column;
      margin-top: 51px;
      &-tel{
        width: 97%;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
      }
      &-call{
        width: 97%;
        height: 58px;
        margin: 0;
        transform: skew(-20deg);
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        &::after{
          content: none;
        }
        &-text{
          transform: skew(20deg);
          -webkit-transform: skew(20deg);
          -moz-transform: skew(20deg);
          -ms-transform: skew(20deg);
          -o-transform: skew(20deg);
}
      }
    }
  }
}
